---
- name: Upload generated GRUB files (hostname file + HEX symlink)
  hosts: all
  become: true
  gather_facts: false

  vars:
    domain: "ocvdc1.itservices.local"
    remote_dir: "/var/lib/tftpboot"

  tasks:
  
    - name: Convert IP to HEX
      ansible.builtin.shell: |
        printf "%02X%02X%02X%02X\n" $(echo "{{ ip }}" | tr '.' ' ')
      register: ip_hex

    - name: Set paths
      ansible.builtin.set_fact:
        src_grub: "/../configs/grub.cfg-{{ hostname }}.{{ domain }}"
        dst_grub: "{{ remote_dir }}/grub.cfg-{{ hostname }}.{{ domain }}"
        dst_hex_link: "{{ remote_dir }}/grub.cfg-{{ ip_hex.stdout }}"

    - name: Copy file using shell
      ansible.builtin.shell: |
        cp "../configs/grub.cfg-ocvdc1worker6.ocvdc1.itservices.local" \
           "{{ src_grub }}"

    - name: Upload GRUB config (hostname-based file)
      ansible.builtin.copy:
        src: "{{ src_grub }}"
        dest: "{{ dst_grub }}"
        mode: "0644"

    - name: Create symbolic link using ln -s with HEX IP
      ansible.builtin.shell: |
        ln -s "{{ dst_grub }}" \
               "{{ dst_hex_link }}"

    - name: Replace IP address inside config
      ansible.builtin.replace:
        path: "{{ dst_hex_link }}"
        regexp: 'ip=[0-9]+\.[0-9]+\.[0-9]+\.[0-9]+'
        replace: "ip={{ ip }}"

    - name: Replace hostname (FQDN) inside config
      ansible.builtin.replace:
        path: "{{ dst_hex_link }}"
        regexp: '[a-zA-Z0-9.-]+\.{{ domain | regex_escape() }}'
        replace: "{{ hostname }}.{{ domain }}"
