---
- name: Generate grub.cfg
  hosts: localhost
  gather_facts: false

  tasks:

    - name: Copy file using shell
      ansible.builtin.shell: |
        cp "../configs/grub.cfg-ocvdc1worker6.ocvdc1.itservices.local" \
           "../configs/grub.cfg-{{ hostname }}.ocvdc1.itservices.local"
  
